li {
    padding: 5px;
    margin: 5px;
    background: #f59016;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(106, 0, 255);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  h1 {
    background-image: url(../img/catheader.jpg);
  }